@import "tailwindcss";

:root {
  --background: rgb(11, 11, 11);
  --foreground: #f7f8fa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-funky-star: var(--font-local-funky-star);
  --font-smokey-brown: var(--font-local-smokey-brown);
  --font-lowpoly: var(--font-local-lowpoly);
  --font-crit-race: var(--font-local-crit-race);
  --font-letter-sketch: var(--font-local-letter-sketch);
  --font-okezone-chamoon: var(--font-local-okezone-chamoon);
  --font-sinteca: var(--font-local-sinteca);
  --font-stinker: var(--font-local-stinker);
  --font-helixa: var(--font-local-helixa);
  --font-helixa-bold: var(--font-local-helixa-bold);
}

@theme {
  --color-black: #0f1014;
  --color-ebony: #1a1c23;
  --color-mirage: #27292d;
  --color-grass: #279e54;
  --color-darkGrey-100: rgb(211 211 211 / 0.1);
  --color-darkGrey-500: rgb(211 211 211 / 0.5);
  --color-darkGrey-700: rgb(34 34 32 / 0.7);
  --color-blue-50: #ecf4ff;
  --color-blue-100: #ddebff;
  --color-blue-200: #c1d8ff;
  --color-blue-300: #9bbfff;
  --color-blue-400: #7498ff;
  --color-blue-500: #5374ff;
  --color-blue-600: #3c51f7;
  --color-blue-700: #2839da;
  --color-blue-800: #2332b0;
  --color-blue-900: #25338a;
  --color-blue-950: #161d50;
  --color-yellow-50: #fefbec;
  --color-yellow-100: #fcf1c9;
  --color-yellow-200: #fae28d;
  --color-yellow-300: #f7cd52;
  --color-yellow-400: #f5ba30;
  --color-yellow-500: #ee9812;
  --color-yellow-600: #d3730c;
  --color-yellow-700: #af510e;
  --color-yellow-800: #8e3e12;
  --color-yellow-900: #753412;
  --color-yellow-950: #431a05;
  --color-green-50: #f1fcf5;
  --color-green-100: #dff9e8;
  --color-green-200: #c1f1d2;
  --color-green-300: #91e4b0;
  --color-green-400: #59cf85;
  --color-green-500: #33b463;
  --color-green-600: #279e54;
  --color-green-700: #207541;
  --color-green-800: #1e5d37;
  --color-green-900: #1b4c2e;
  --color-green-950: #092a17;
  --color-orange: #ff0000;
  --text-10xl: 10rem;
  --text-11xl: 12rem;
  --text-12xl: 14rem;
  --text-13xl: 15rem;
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

.clip-path-box {
  clip-path: polygon(0 0, 75% 0, 75% 50%, 100% 50%, 100% 100%, 0 100%);
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
