@import "tailwindcss";

:root {
  --background: rgb(11, 11, 11);
  --foreground: #f7f8fa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-rubik-burned: var(--font-google-rubik-burned);
  --font-fascinate-inline: var(--font-google-fascinate-inline);
  --font-flavors: var(--font-google-flavors);
  --font-protest-revolution: var(--font-google-protest-revolution);
  --font-caesar-dressing: var(--font-google-caesar-dressing);
  --font-londrina-sketch: var(--font-google-londrina-sketch);
  --font-sedgwick-ave-display: var(--font-google-sedgwick-ave-display);
  --font-google-sans-flex: var(--font-google-sans-flex-variable);
}

@theme {
  --text-10xl: 10rem;
  --text-11xl: 12rem;
  --text-12xl: 14rem;
  --text-13xl: 15rem;
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

.clip-path-box {
  clip-path: polygon(0 0, 75% 0, 75% 50%, 100% 50%, 100% 100%, 0 100%);
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
